/* Color palette from colorhunt.co */

:root {
    --light: #F9F2ED;
    --blue: #3AB0FF;
    --orange: #FFB562;
    --salmon: #F87474;
}

html * {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;


}

body {
    background-color: var(--light); 

}

header {
    display: flex;
    min-height: 5em;
    max-height:  10px;
    background: #FFB562;
    /* padding: 10px 0; */
    width: 100%;
}

h1 {
    display: flex;
    float: left;
    justify-content: center;
    padding: 1%;
    align-items: baseline;
}



nav .nav-bar {
    display: flex;
    background-color: var(--orange);
    float: right;

}

nav ul {
    margin-top: 2em;
    margin-right: 2em;
    padding: 0;
    position: absolute;
    right: 5%;  
}


nav li {
    color: var(--salmon);
    display: inline-block;
    margin-left: 70px;
    list-style: none; 
} 

a {
    text-decoration: none;
    color: var(--salmon);
}

.hero_img {
    background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 200px;
    
}

.herotext {
    position: absolute;
    right: 5%;    
    bottom: 5%;
    border: 1px solid red;
    background-color:red;
    padding:20px;
    color: blue;
}

section {
    padding: 20px;
    position: relative;
}

.about {
    flex-direction: column;
}

.section-title h2 {
    position: absolute;
    top: 0%;
    right: 0%;
}

.section-title {
    display: inline-block;
    width: 10%;
    position: relative;
}

.section-body {
    display: inline-block;
    width: 81%;
}

.container {
    height: auto;
}

/* 
.about .work h2 {
    float:left;
    min-width: 40px;
} */

.body-content {
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
}

section .section-body {
    border-left: 1px solid var(--blue);
    border-width: 5px;
}

section div p {
    padding: 5px 20px 12px;
}

.work {
    flex-direction: column;
    display: table;
}

.card:first-child {
    width: 99%;
    column-span: all;

}

.card {
    width: 49%;
    display: inline-block;
    padding: .5%;

}

.card img {
    width: 100%;
    height: auto;
    display: inline;
    flex-flow: wrap;
    aspect-ratio: 16 / 9;
}

h3 {
    float: left;
    padding: 2%;
    display: block;

}

footer li {
    text-align: right;
    list-style: none;
    padding-right: 5%;
    margin-top: .3%;
    text-decoration: none;
}



footer {
    background-color: var(--orange);
    color: var(--salmon);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.container-foot {
    margin: auto;
}


@media only screen and (max-width: 768px) {
    nav li {
        color: var(--salmon);
        display: inline-block;
        margin: 1em;
        margin-top: 2.5em;
        list-style: none; 
        }

    header {
        display: flex;
        min-height: 10em;
        max-height:  10px;
        background: #FFB562;
        /* padding: 10px 0; */
        width: 100%;
        }

    h1 {
        justify-content:flex-start;
        padding: 1%;
        align-items: center;
        }


    }


    @media only screen and (max-width: 320px) {
        nav li {
            color: var(--salmon);
            display: inline-flex;
            flex-direction: column;
            margin: 1em;
            margin-top: 2.5em;
            list-style: none; 
            }
    
        header {
            display: flex;
            min-height: 16em;
            max-height:  10px;
            background: #FFB562;
            /* padding: 10px 0; */
            width: 100%;
            }
    
        h1 {
            justify-content:flex-start;
            padding: 1%;
            align-items: center;
            }
        footer li {
            text-align: left;
            display: block;
            list-style: none;
            padding-right: 5%;
            margin-top: .3%;
            text-decoration: none;
        }
        
    
        }
    